// utilities
// margin
// padding
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.h-100p{
    height: 100% !important;
}
.w-100p{
    width: 100% !important;
}
.h-min-100v{
    min-height: 100vh !important;
}
/* layout */
.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}
.cursor-pointer{
    cursor: pointer;
}
// utilities
.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
// margin
.m-r-a{
    margin-right: auto !important;
}
.m-t-10{
    margin-top: 10px !important;
}
.m-r-10{
    margin-right: 10px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-l-10{
    margin-left: 10px !important;
}
.m-t-10p{
    margin-top: 10% !important;
}
.m-t-20{
    margin-top: 20px !important;
}
.m-r-20{
    margin-right: 20px !important;
}
.m-b-20{
    margin-bottom: 20px !important;
}
.m-l-20{
    margin-left: 20px !important;
}
.m-t-20p{
    margin-top: 20% !important;
}
// padding
.p-container{
    padding: 16px !important;
}
.p-t-10{
    padding-top: 10px !important;
}
.p-r-10{
    padding-right: 10px !important;
}
.p-b-10{
    padding-bottom: 10px !important;
}
.p-l-10{
    padding-left: 10px !important;
}
.p-t-10p{
    padding-top: 10% !important;
}
