<div class="h-100p">
    <!-- toolbar -->
    <mat-toolbar color="primary">
        <span>DSS</span>
    </mat-toolbar>
    <!-- content -->
    <div class="header-section" fxLayoutAlign="center center" fxLayout="column"fxLayoutGap="20px">
        <div class="text-center">
            <h1 class="mat-display-2">Sistem Pendukung Keputusan dengan metode AHP</h1>
        </div>
        <button class="action-button" mat-raised-button color="primary" routerLink="/ahp">Start</button>
    </div>
</div>
