.mat-radio-button{
    margin: 8px;
}
// radio button
:host ::ng-deep .mat-radio-label, :host ::ng-deep .mat-radio-container{
    display: block !important;
    text-align: center;
}
:host ::ng-deep .mat-radio-label-content{
    padding: 0 !important;
}
td{
    padding: 10px;
}
label{
    font-weight: bold !important;
}