<div class="h-min-100v mat-app-background" fxLayoutAlign="center center" fxLayout="row">
    <div fxFlex="100" fxFlex.gt-sm="30">
        <mat-card class="mat-elevation-z4 text-center" >
            <mat-card-title>Join us</mat-card-title>
            <mat-card-content>
                <form [formGroup]="regisForm" class="m-t-10p">
                    <!-- name -->
                    <mat-form-field>
                        <input matInput placeholder="Name" name="name" formControlName="name" maxlength="50">
                    </mat-form-field>
                    <!-- email -->
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" email formControlName="email" maxlength="50">
                    </mat-form-field>
                    <!-- password - form -->
                    <mat-form-field>
                        <input matInput placeholder="Password" name="password" type="password" formControlName="password" maxlength="32">
                    </mat-form-field>
                    <!-- confirm password -->
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" name="confirmPassword" type="password" formControlName="repassword" maxlength="32">
                    </mat-form-field>
                    <!-- button -->
                    <button mat-raised-button
                    color="primary"
                    class="w-100p m-t-10p"
                    *ngIf="!clicked"
                    (click)="register(); clicked = true"
                    [disabled]="regisForm.invalid">Register</button>
                    <!-- spinner -->
                    <div fxLayoutAlign="center" *ngIf="clicked" class="m-t-10p">
                        <mat-spinner diameter="50"></mat-spinner>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <div class="text-center p-container">
            <div class="text-center">
                Already have an account? 
                <a routerLink="/login">Log in</a>
            </div>
        </div>
    </div>
</div>