<mat-sidenav-container class="h-min-100v">
    <!-- left side -->
    <mat-sidenav #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <div fxLayout="column" class="h-min-100v">
        <div class="title">
            <form>
                <mat-form-field>
                    <input matInput required placeholder="Title" [formControl]="dNameControl">
                </mat-form-field>
            </form>
        </div>
        <mat-divider></mat-divider>
        <!-- nav list -->
        <mat-nav-list>
            <div *ngFor="let item of sidebars; let i = index">
                <a mat-list-item routerLink="{{item.link}}"routerLinkActive="mat-app-background"title="{{item.title}}">
                    <h2 class="m-r-10">{{i+1}}</h2>
                    <span>&nbsp;{{item.name}}</span>
                </a>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutAlign="start center">
                        <h2 class="m-r-10">3</h2>
                        <span>&nbsp;Calculate</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let item of criterias$ | async; let i = index">
                    <a mat-list-item routerLink="alternative/calculate/{{i}}"routerLinkActive="mat-app-background"title="Criteria - {{item.name | titlecase}}">
                        <h2 class="m-r-10">-</h2>
                        <span class="list-item">&nbsp;{{item.name | titlecase}}</span>
                    </a>
                </div>
            </mat-expansion-panel>
            <a mat-list-item routerLink="result"routerLinkActive="mat-app-background"title="Result">
                <h2 class="m-r-10">4</h2>
                <span>&nbsp;Result</span>
            </a>
        </mat-nav-list>
        <!-- logo -->
        <div class=""fxFlex fxLayout="column" fxLayoutAlign="end center">
            <a routerLink="/" class="link-logo">
                <h3>DSS-AHP</h3>
            </a>
        </div>
    </div>
    </mat-sidenav>
    <!-- right side -->
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="sticky mat-elevation-z2">
            <span class="m-r-a">
                <button mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="showNav">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </span>

            <span fxLayoutAlign="end center">
                <button mat-raised-button (click)="createNew()">
                    <mat-icon>add</mat-icon>
                    <span> Create new</span>
                </button>
                <button mat-button routerLink="/login" *ngIf="!(user$ | async)">Log in</button>
                <!-- if login -->
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" *ngIf="(user$ | async)">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLinkActive="d-none" routerLink="/user" *ngIf="user$ | async as user">
                        <span>{{ user.email }}</span>
                    </button>
                    <button mat-menu-item routerLinkActive="d-none" routerLink="/login">
                        <span>Switch User</span>
                    </button>
                    <button mat-menu-item routerLinkActive="d-none" routerLink="../0/my-list" routerLinkActive="d-none"*ngIf="(user$ | async)">
                        <span>My List</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item routerLinkActive="d-none" (click)="logOut()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Log out</span>
                    </button>
                </mat-menu>
            </span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
