// logo
.link-logo{
  text-decoration: none;
  color: inherit;
}
// navbar
.mat-sidenav-container {
    height: 100%;
}
.mat-sidenav {
  width: 15%;
  min-width: 250px;
}
// for same to sidenav
.mat-expansion-panel-header{
  padding: 0 16px !important;
  font-size: 16px !important;
}
.mat-expansion-panel{
  box-shadow: none !important;
}