
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '~@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $my-dss-primary: mat.define-palette(mat.$indigo-palette);
// $my-dss-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $my-dss-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $my-dss-theme: mat.define-light-theme((
//   color: (
//     primary: $my-dss-primary,
//     accent: $my-dss-accent,
//     warn: $my-dss-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($my-dss-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-dss-primary: mat-palette($mat-yellow, 700);
$my-dss-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-dss-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-dss-theme: mat-light-theme($my-dss-primary, $my-dss-accent, $my-dss-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-dss-theme);

//Include to css class
.app-primary{
    background  : mat-color($my-dss-primary);
    color       : mat-color($my-dss-primary, '500-contrast');
}
.app-color{
    color       :mat-color($my-dss-primary, '500-contrast');
}
.app-primary-color{
    color       : mat-color($my-dss-primary);
}
.app-accent{
    background  : mat-color($my-dss-accent);
    color       : mat-color($my-dss-accent, '500-contrast');
}
.app-accent-color{
    color       : mat-color($my-dss-accent);
}
a{
 color: mat-color($my-dss-primary);
}